html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: bold;
  color: var(--chakra-colors-blue-600);
  display: inline-block;
}

// Media Queries (https://chakra-ui.com/docs/features/responsive-styles)
// 22.5em (360px) / 30em (480px)  / 48em (768px) / 62em (992px) / 80em (1280px) / 96em (1536px)

.cover {
  background-image: url('../public/background-light.jpg');
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-position-y: -100px;
  background-repeat: no-repeat;
  position: relative;
  min-height: 400px;

  @media screen and (min-width: 22.5em) {
    background-position-y: -50px;
  }

  @media screen and (min-width: 30em) {
    background-position-y: -50px;
  }

  @media screen and (min-width: 62em) {
    background-position-y: -100px;
  }
}

.overlay {
  background: linear-gradient(0deg,
      var(--chakra-colors-gray-50) 85%,
      rgba(255, 255, 255, 0) 95%);
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 22.5em) {
    background: linear-gradient(0deg,
        var(--chakra-colors-gray-50) 99%,
        rgba(255, 255, 255, 0) 100%);
  }

  @media screen and (min-width: 30em) {
    background: linear-gradient(0deg,
        var(--chakra-colors-gray-50) 98%,
        rgba(255, 255, 255, 0) 100%);
  }

  @media screen and (min-width: 62em) {
    background: linear-gradient(0deg,
        var(--chakra-colors-gray-50) 93%,
        rgba(255, 255, 255, 0) 98%);
  }

  @media screen and (min-width: 80em) {
    background: linear-gradient(0deg,
        var(--chakra-colors-gray-50) 92%,
        rgba(255, 255, 255, 0) 95%);
  }
}

.presentation-hand {
  display: inline-block;
  width: 19px;
  height: 23px;
  margin-right: 8px;


}

@keyframes hand-shake {
  0% {
    transform: rotate(-5deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1,
h2,
.footer-text {
  font-size: 2rem;

  @media screen and (min-width: 22.5em) {
    font-size: 2rem;
  }

  @media screen and (min-width: 30em) {
    font-size: 3rem;
  }

  @media screen and (min-width: 48em) {
    font-size: 3rem;
  }

  @media screen and (min-width: 62em) {
    font-size: 4rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;

  background: var(--chakra-colors-gray-50);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px;
  z-index: 1;

  @media screen and (min-width: 22.5em) {
    background: var(--chakra-colors-gray-50);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px;
    z-index: 1;
  }

  @media screen and (min-width: 30em) {
    background: var(--chakra-colors-gray-50);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px;
    z-index: 1;
  }

  @media screen and (min-width: 48em) {
    background: none;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 1rem 0;
  }

  .avatar div {
    border-radius: 50px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding-right: 8px;
    align-items: center;
    display: flex;
    position: relative;

    .chakra-select__wrapper {
      position: absolute;
      width: 37px;
      z-index: 1;
      right: -20px;
      top: 3px;
      cursor: pointer;

      @media screen and (min-width: 22.5em) {
        right: -20px;
        top: 3px;
      }

      @media screen and (min-width: 30em) {
        right: -8px;
        top: 0px;
      }

      .chakra-select__icon-wrapper {
        display: none;
      }

      .select-language {
        padding: 0px 8px;
        cursor: pointer;
        border-radius: 50px;
      }

      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -1px;
        top: 22px;
        -webkit-transform: rotateZ(25deg);
        transform: rotateZ(25deg);
        border: 7px solid;
        border-color: transparent transparent transparent var(--chakra-colors-gray-200);
        display: none;

        @media screen and (min-width: 22.5em) {
          display: none;
        }

        @media screen and (min-width: 30em) {
          display: block;
        }
      }
    }

    @media screen and (min-width: 22.5em) {
      width: 40px;
      height: 40px;
    }

    @media screen and (min-width: 30em) {
      width: 60px;
      height: 60px;
    }

    @media screen and (min-width: 48em) {
      width: 100px;
      height: 100px;
    }

    img {
      border-radius: 50px;
      box-shadow: var(--chakra-shadows-xl);
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .footer-text {
    color: var(--chakra-colors-gray-700);
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    padding-bottom: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    display: flex;
    flex-direction: row;
    line-height: 1rem;
    align-items: center;
    font-size: 0.8rem;
  }

  a {
    margin: 0 0.2rem;
  }
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.about {
  padding: 2rem 0;

  @media screen and (min-width: 22.5em) {
    padding: 2rem 0;
  }

  @media screen and (min-width: 30em) {
    padding: 3rem 0;
  }

  @media screen and (min-width: 62em) {
    padding: 2rem 0;
  }

  div {
    line-height: 26px;
  }


  h1,
  h2 {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    color: var(--chakra-colors-gray-700);
    font-weight: bold;

    @media screen and (min-width: 22.5em) {
      font-size: 2rem;
    }

    @media screen and (min-width: 30em) {
      font-size: 3rem;
    }

    @media screen and (min-width: 48em) {
      font-size: 3rem;
    }

    @media screen and (min-width: 62em) {
      font-size: 4rem;
    }
  }

  h2 {
    color: var(--chakra-colors-gray-500);
    margin-bottom: 1rem;
  }

  .presentation {
    color: var(--chakra-colors-gray-600);
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  &:hover {
    .presentation-hand {
      animation: hand-shake 2s infinite;
    }
  }
}

.about-description {
  width: 75%;

  @media screen and (min-width: 22.5em) {
    width: 100%;
  }

  @media screen and (min-width: 30em) {
    width: 100%;
  }

  @media screen and (min-width: 48em) {
    width: 80%;
  }

  @media screen and (min-width: 62em) {
    width: 75%;
  }
}

.grid {
  margin-bottom: 3rem;

  @media screen and (min-width: 62em) {
    margin-bottom: 5rem;
  }

  h3 {
    color: var(--chakra-colors-gray-500);
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 0.2rem;

    @media screen and (min-width: 22.5em) {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
    }

    @media screen and (min-width: 30em) {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
    }

    @media screen and (min-width: 48em) {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }
}

.grid-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  p {
    font-size: 0.8rem;

    @media screen and (min-width: 22.5em) {
      font-size: 0.8rem;
    }

    @media screen and (min-width: 30em) {
      font-size: 1rem;
    }

    @media screen and (min-width: 62em) {
      font-size: 1rem;
    }
  }
}

.portfolios {
  article {
    box-shadow: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    transform: scale(1);
    background: #fff;
    border-radius: 15px;
    box-shadow: var(--chakra-shadows-md);

    a {
      width: 100%;
    }

    .portfolio-image img {
      border-radius: 15px 15px 0 0;
    }

    .portfolio-link {
      color: var(--chakra-colors-blue-600);
      transition: opacity 0.2s ease 0s;
      opacity: 0%;
    }

    &:hover {
      box-shadow: var(--chakra-shadows-2xl);
      transform: scale(1.1);

      @media screen and (min-width: 22.5em) {
        transform: scale(1);
        box-shadow: none;
      }

      @media screen and (min-width: 30em) {
        transform: scale(1);
        box-shadow: none;
      }

      @media screen and (min-width: 48em) {
        transform: scale(1.1);
        box-shadow: var(--chakra-shadows-2xl);
      }

      .portfolio-link {
        opacity: 100%;
      }
    }

    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: var(--chakra-space-1);
    }

    p {
      margin-top: var(--chakra-space-1);
      margin-bottom: var(--chakra-space-4);
      font-size: 0.8rem;
      font-weight: normal;
    }

    .article-wrap {
      padding: var(--chakra-space-6);
    }
  }

  .icons {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .icon-wrap {
      margin-right: 0.5rem;
    }
  }

  .portfolio-link {
    color: var(--chakra-colors-blue-600);
    position: absolute;
    right: 0;
  }
}

.header-actions {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 22.5em) {
    width: 260px;
  }

  @media screen and (min-width: 30em) {
    width: 300px;
  }

  svg {
    width: 35px;
    height: 35px;
    color: var(--chakra-colors-gray-600);
  }

  .chakra-select {
    cursor: pointer;
  }

  .chakra-select__wrapper {
    width: 70px;
    display: inline-block;
  }

  .header-actions__get-in-touch {
    text-transform: lowercase;
  }
}

.modal-contact {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  flex-wrap: wrap;

  button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.pwa {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.5;
}


.chakra-ui-dark {
  background-color: var(--chakra-colors-gray-800);

  a {
    color: var(--chakra-colors-blue-300);
  }

  .avatar .chakra-select__wrapper {
    background: var(--chakra-colors-gray-700);

    &:after {
      border-color: transparent transparent transparent var(--chakra-colors-gray-700);
    }
  }

  .cover {
    background-image: url('../public/background-dark.jpeg');
  }

  .header {
    background: var(--chakra-colors-gray-800);

    @media screen and (min-width: 22.5em) {
      background: var(--chakra-colors-gray-800);
    }

    @media screen and (min-width: 30em) {
      background: var(--chakra-colors-gray-800);
    }

    @media screen and (min-width: 48em) {
      background: none;
    }
  }

  .overlay {
    background: linear-gradient(0deg,
        var(--chakra-colors-gray-800) 85%,
        rgba(255, 255, 255, 0) 95%);

    @media screen and (min-width: 22.5em) {
      background: linear-gradient(0deg,
          var(--chakra-colors-gray-800) 99%,
          rgba(255, 255, 255, 0) 100%);
    }

    @media screen and (min-width: 30em) {
      background: linear-gradient(0deg,
          var(--chakra-colors-gray-800) 98%,
          rgba(255, 255, 255, 0) 100%);
    }

    @media screen and (min-width: 62em) {
      background: linear-gradient(0deg,
          var(--chakra-colors-gray-800) 93%,
          rgba(255, 255, 255, 0) 98%);
    }

    @media screen and (min-width: 80em) {
      background: linear-gradient(0deg,
          var(--chakra-colors-gray-800) 92%,
          rgba(255, 255, 255, 0) 95%);
    }
  }

  .about h1,
  .footer-text {
    color: var(--chakra-colors-gray-100);
  }

  .presentation {
    color: var(--chakra-colors-gray-300);
  }

  .about h2,
  .grid h3 {
    color: var(--chakra-colors-gray-400);
  }

  .grid-header p {
    color: var(--chakra-colors-gray-100);
  }

  .portfolios article {
    background-color: var(--chakra-colors-gray-700);

    a {
      color: var(--chakra-colors-gray-100);
    }

    .portfolio-link {
      color: var(--chakra-colors-blue-300);
    }
  }

  .header-actions svg {
    color: var(--chakra-colors-gray-300);
  }
}


.container-flex {
  padding: 0 1rem;

  @media screen and (min-width: 22.5em) {
    padding-top: 60px;

  }

  @media screen and (min-width: 30em) {
    padding-top: 60px;

  }

  @media screen and (min-width: 48em) {
    padding: 0 1rem;
  }
}

.chakra-accordion {
  padding: 1rem 0;
}
